<h2>Beers</h2>
{{randomBeerFromApi.name}}
{{randomBeerFromApi}}
<ul>  
  <li style="padding-top:40px"></li>
  <h3>{{randomBeerFromApi.name}}</h3>
  <img src="{{randomBeerFromApi.image_url}}" alt="" style="height:150px">
  <li>{{randomBeerFromApi.tagline}}</li>
  <li>{{randomBeerFromApi.description}}</li>
  
</ul>
